* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
button {
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}
#dicelist {
  padding: 50px;
  font-size:20px;
}
#dicetotal {
  height: 100px;
  width: 100px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;
  font-size:80px;
}

.d0 {
  color: black;
}
.d4 {
  color: blue;
}
.d6 {
  color: red;
}
.d8 {
  color: orange;
}
.d10 {
  color: green;
}
.d12 {
  color: blue;
}
.d20 {
  color: #FFDB58;
}
.d100 {
  color: purple;
}